body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, #F4F5FC 0%, #E6E7FF 100%);
}

/* Navi Bar */
/* -----------------------------------------------*/

.container_nav-content {
    background-color: #E5E5E5;
}
.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav #txt_nav {
    margin-left: 5%;
    font-weight: bold;
    font-size: 32px;
}

.main_nav {
    display: flex;
    list-style: none;
    margin-left: 3%;
    padding: 15px;
}


.main_nav a {
    text-decoration: none;
}

.main_nav li a {
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

.main_nav li:hover a {
    background-color: #232ED1;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav #clone {
    border: 2px solid rgba(35, 46, 209, 0.4);
    background-color: none;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    right: 20%;
    color: black;
}

.nav #clone:hover {
    background-color: #e74c3c;
    color: #FFFFFF;
}

/* CONTENT1 -------------------------------*/
.content1 {
    display: flex;
    padding-bottom: 5%;
}

.content1_left {
    width: 40%;
}

.container_content1_left {
    margin-left: 20%;
    margin-top: 15%;
    line-height: 0;
}
.content1_left #text1 {
    font-size: 14px;
    color: #232ED1;
}

.content1_left #text2 {
    font-size: 18px;
    line-height: 30px;
}

.content1_left h1 {
    font-size: 64px;
    line-height: 68px;
}

.content1_right {
    width: 60%;
}

.content1_right img {
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
}
/* CONTENT1 -------------------------------*/

.content2 {
    border: 1px solid black;
    padding-bottom: 10%;
}

.container_content2 {
    width: 50%;
    border: 1px solid black;
    color: #5B5B5B;
    margin-left: 25%;
    line-height: 38px;
    font-size: 24px;
}

.container_content2 #txt2_content2 {
    font-weight: bold;
    color: #000000;
}


/*------------------------------FOOTER---------------------------*/
.footer {
    display: flex;
    padding-top: 20%;
    padding-bottom: 5%;
    position: relative;
    background: #EFF0F8;
}

.footer_left {
    width: 30%;
}

.container_footer_left {
    margin-left: 40%;
}

.container_footer_left #footer_left_txt {
    padding-top: 60%;
    color: #5B5B5B;
}

.footer_right {
    width: 70%;
}

.footer_container_col {
    display: flex;
    padding-left: 15%;
}

.footer_container_col li {
    padding-bottom: 8%;
}

.footer_container_col li a {
    text-decoration: none;
    color: black;
}


.footer_list {
    list-style: none;
    padding-left: 0;
    padding-top: 10%;
}


.col1,
.col2,
.col3 {
    width: 20%;
}


.footer_last {
    background-color: #232ED1;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*INSERT*/
.insert_footer {
    display: flex;
    position: absolute;
    top: -15%;
    left: 0;
    background-color: #232ED1;
    width: 70%;
    height: 30%;
    border-radius: 10px;
    margin-left: 15%;
}

.insert_footer h1 {
    font-size: 48px;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}

.insert_footer a {
    position: absolute;
    top: 33%;
    right: 10%;
    color: #FFFFFF;
    background: #F24C27;
    border-radius: 5px;
    text-decoration: none;
    padding: 2% 7%;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 7%;
    width: 50%;
    margin-left: 15%;
}

.input-wrapper input {
    padding: 5% 74% 5% 2%;
    /* Để tạo khoảng trống cho nút bấm */
    border: none;
    border-radius: 5px;
}

.input-wrapper button {
    position: absolute;
    top: 7%;
    right: 0;
    height: 80%;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    background: #F24C27;
    color: white;
    border: none;
}


/* Mobile: width <740px */
@media screen and (max-width: 575.98px) {
    .nav {
        flex-direction: column;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 0;
    }


    .main_nav li {
        padding-bottom: 20px;
    }
    .nav #clone {
        display: none;
    }

    /*FOOTER*/
    .footer_left {
        display: none;
    }

    .footer_right {
        width: 100%;
    }

    .col1,
    .col2,
    .col3 {
        width: 33%;
        padding-left: 3%;
    }
    .col2, .col3 {
        padding-left: 0;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left {
        margin-left: 5%;
    }

    /*INSERT*/
    .insert_footer {
        height: 80%;
    }

    .insert_footer h1 {
        font-size: 20px;
        margin-top: 10%;
    }
    /*--------------------CONTENT1------------------------*/

    .content1 {
        flex-direction: column;
    }

    .content1_left {
        width: 100%;
    }

    .container_content1_left {
        margin-left: 3%;
    }

    .container_content1_left h1 {
        font-size: 48px;
    }


    .content1_right {
        width: 100%;
    }

    .content1_right img {
        width: 80%;
    }
    /*--------------------CONTENT2------------------------*/

    .container_content2 {
        border: 1px solid black;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        color: #5B5B5B;
    }

    .container_content2 #txt2_content2 {
        color: #000000;
        font-weight: bold;
    }

    .content2_list {
        padding-left: 4%;
    }

}

@media screen and (max-width: 630px) {
    .insert_footer {
        display: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 15%;
    }

    .nav #clone {
        display: none;
    }

    .main_nav li {
        margin-bottom: 20px;
    }

    .nav #txt_nav {
        margin-left: 15%;
    }

    /*FOOTER*/
    .footer_left {
        width: 30%;
    }

    .footer_right {
        width: 70%;
    }

    .container_footer_left {
        margin-left: 10%;
    }

    .col1,
    .col2,
    .col3 {
        width: 35%;
        padding-left: 2%;
    }


    .container_footer_left #footer_left_txt {
        width: 90%;
        padding: 10px;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 28px;
        margin-top: 3%;
    }

    .insert_footer a {
        top: 33%;
        right: 5%;
        color: #FFFFFF;
        background: #F24C27;
        border-radius: 5px;
        text-decoration: none;
        padding: 2% 5%;
        font-size: 14px;
    }

    /*CONTENT1*/

    .content1_left {
        border: 1px solid black;
        width: 50%;
    }
    .container_content1_left {
        margin-left: 2%;
    }
    .container_content1_left h1 {
        font-size: 32px;
    }
    .content1_right {
        width: 50%;
    }
    
    .content1_right img {
        width: 100%;
        margin-top: 15%;
    }

    /*CONTENT2*/
    .container_content2 {
        width: 90%;
        border: 1px solid black;
        margin-left: 5%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 1270px) and (min-width: 992px) {
    .nav #clone {
        display: none;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left #footer_left_txt {
        padding-top: 10%;
    }
    

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 32px;
        margin-top: 5%;
    }

    @media screen and (max-width: 1520px) {
        .content1_right img{
            margin-top: 15%;
            margin-left: 10%;
        }
    }

    @media screen and (max-width: 983px) {
        .container_footer_left {margin-left: 5%;}
    }
}