body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    width: 100%;
}

.nav {
    display: flex;
    padding-top: 1.5%;
}

.nav li {
    display: inline-block;
    margin-left: 3%;
    width: auto
}

.nav .items1 {
    margin-left: 0;
}

.nav a {
    font-size: 18px;
    color: #5B5B5B;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    width: 5%;
}

ul {
    width: 60%;
    height: 20%;
    margin-left: 15%;
}

#finsweet {
    position: absolute;
    color: #0D1317;
    font-size: 24px;
    margin-left: 8%;
    margin-top: 0.7%;
}

#clone {
    border: 2px solid rgba(35, 46, 209, 0.4);
    color: #0D1317;
    padding: 20px 30px 5px 50px;
    width: 7%;
    border-radius: 5px;
}

.nav a:hover {
    background-color: #232ED1;
    color: #FFFFFF;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    border-radius: 5px;
}

#clone:hover {
    background-color: red;
    color: #FFFFFF;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    border-radius: 5px;
}

/*CONTENT1 --------------------------*/
.container_nav_content1 {
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}

.content1 {
    display: flex;
    flex-wrap: wrap;
}

.content1_left {
    width: 40%;
}

.content1_right {
    width: 60%;
}

.container_content1_left {
    margin-top: 30%;
    margin-left: 20%;
}

.container_content1_left #text1 {
    font-size: 14px;
    color: #232ED1;
}

.container_content1_left h1 {
    font-size: 64px;
}

.container_content1_left #text2 {
    font-size: 18px;
    color: #5B5B5B;
}

.content1_right img {
    margin-top: 10%;
    max-width: 80%;
}
/*CONTENT2 --------------------------*/
.content2 {
    clear: both;
    padding-bottom: 10%;
    position: relative;
}
.container_content2 {
    margin-left: 25%;
    margin-top: 5%;
}
.container_content2 p, ul {
    color: #5B5B5B;
    font-size: 24px;
}
.container_content2 #txt2_content2 {
    color: #000000;
}
.content2 ul {
    margin-left: 0;
}
/*FOOTER ------------------------------*/
.footer1 {
    height: 25%;
    background-color: #EFF0F8;
    display: flex;
}

.col-2,
.col-3,
.col-4 {
    width: 15%;
}

.col-1 {
    width: 40%;
    padding: 10px;
}

#finsweet_footer {
    font-size: 30px;
    padding-top: 20%;
    padding-left: 65%;
}

.footer2 {
    width: 100%;
    height: 10%;
    background-color: #EFF0F8;
    display: flex;
    position: relative;
}

.input_button {
    position: relative;
    width: 40%;
}

.footer2 input {
    width: 70%;
    height: 60%;
    padding-left: 20px;
    margin-top: 2%;
    right: 0;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    position: absolute;
}

.footer2 button {
    position: absolute;
    height: 50%;
    background-color: #F24C27;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 25px 8px 30px;
    font-size: 20px;
    cursor: pointer;
    top: 25%;
    right: 1%;

}

.footer2 p {
    color: #5B5B5B;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 20px;
    width: 35%
}

.i-icons {
    display: flex;
}

.icons-item {
    list-style: none;
    padding-left: 15px;
}

.icons {
    width: 30%;
    margin-left: 55%;
}

#footer_title {
    color: black;
    padding-top: 70%;
    padding-left: 15%;
    font-size: 18px;
}

.footer_items a {
    text-decoration: none;
    color: #5B5B5B;
}

.footer3 {
    height: 60px;
    background-color: #232ED1;
}

.footer3 p {
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 43%;
    padding-top: 20px;
    margin-top: 0;
}

.col-2 ul {
    padding-left: 0;
    height: 25%;
}

.col-2 li {
    list-style: none;
    padding-bottom: 20px;
}

.col-3 ul {
    padding-left: 0;
    height: 25%;
}

.col-3 li {
    list-style: none;
    padding-bottom: 20px;
}

.col-4 ul {
    padding-left: 0;
    height: 25%;
}

.col-4 li {
    list-style: none;
    padding-bottom: 20px;
}
/*INSERT -------------------------------*/
.insert2 {
    position: absolute;
    width: 50%;
    height: 21%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #232ED1;
    top: 90%;
    left: 25%;
}

.button {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 40%;
    left: 70%;
}

.btn_view {
    text-decoration: none;
    border-radius: 5px;
    background: #F24C27;
    color: white;
    padding: 20px 35px 20px 35px;
    font-size: 20px;
}

.insert_text {
    width: 70%;
    margin-top: 5%;
    margin-left: 8%;
}

.insert_text #text {
    color: #FFFFFF;
    font-size: 40px;
}

.insert_svg {
    position: absolute;
    width: 60%;
    height: 30%;
    top: 85%;
    left: 20%;
}

.svg1 {
    position: absolute;
    top: 16.5%;
    left: 4%;
}

.svg2 {
    position: absolute;
    top: 79%;
    left: 93%;
}

@media screen and (max-width: 46.1875em) {
    #finsweet {
        position: absolute;
        margin-left: 38px;
        margin-top: 5px;
        font-size: 18px;
    }

    #clone {
        position: absolute;
        font-size: 15px;
        padding: 0;
        width: 15%;
        padding: 10px 15px 10px 15px;
        top: 2%;
        right: 2%;
    }

    .nav li {
        flex-direction: column;
        font-size: 10px;
        line-height: 40px;
        margin-left: 0;
    }

    ul {
        margin-left: 0;
        margin-top: 15%;
    }
    .content1 {
        text-align: center;
        
    }
    .content1_left {
        width: 100%;
    }
    .container_content1_left {
        margin-top: 5%;
        margin-left: 0;
    }
    .container_content1_left h1 {
        font-size: 32px;
    }
    .content1_right img{
        margin-left: 40%;
    }
    /*content2 -----------------------------*/
    .container_content2 {
        margin-left: 2%;
        margin-top: 5%;
    }
    /*FOOTER ----------------------------*/
    #finsweet_footer {
        font-size: 18px;
        padding-top: 5%;
        padding-left: 5%;
    }

    .icons-item {
        list-style: none;
        padding-left: 0;
    }

    .i-icons {
        padding-left: 20%;
    }

    .icons {
        width: 100%;
        margin-left: 0;
        padding-left: 0%;
    }

    .col-1 {
        display: none;
    }

    .col-2 {
        width: 35%;
        padding-left: 2%;
    }

    .col-3 {
        width: 30%;
    }

    .col-4 {
        width: 35%;
    }

    .col-4 ul {
        width: auto;
        height: auto;
    }

    #footer_title {
        padding-left: 0;
        padding-top: 0;
    }

    .footer2 {
        display: none;
    }

    .insert_svg {
        display: none;
    }

    .footer3 {
        width: auto;
    }

    .footer3 p {
        padding-left: 25%;
    }

    .footer_items {
        font-size: 12px;
    }
    /*INSERT --------------------------*/
    .insert2, .insert_svg {display: none;}
}