body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, #F4F5FC 0%, #E6E7FF 100%);
}

/* Navi Bar */
/* -----------------------------------------------*/

.container_nav-content {
    background-color: #E5E5E5;
}
.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav #txt_nav {
    margin-left: 5%;
    font-weight: bold;
    font-size: 32px;
}

.main_nav {
    display: flex;
    list-style: none;
    margin-left: 3%;
    padding: 15px;
}


.main_nav a {
    text-decoration: none;
}

.main_nav li a {
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

.main_nav li:hover a {
    background-color: #232ED1;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav #clone {
    border: 2px solid rgba(35, 46, 209, 0.4);
    background-color: none;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    right: 20%;
    color: black;
}

.nav #clone:hover {
    background-color: #e74c3c;
    color: #FFFFFF;
}

/* CONTENT -------------------------------*/
.content {
    height: 700px;
    display: flex;
    width: 100%;
    height: 870px;
}

.content_left {
    width: 45%;
}

.content_right {
    width: 55%;
}

.container_right {
    width: 52%;
    height: 85%;
    position: relative;
    padding-top: 0;
}

#content_right_text {
    margin: 25% 0 5% 0;
    font-size: 24px;
}

.content_left img,
#content_left_text1,
#content_left_text2 {
    margin-left: 45%;
}

.content_left {
    position: relative;
}

.content_left img {
    margin-top: 15%;
}

.content_left #content_left_text1 {
    font-size: 64px;
    color: #0D1317;
    margin-bottom: 0;
    margin-top: 0;
}

/*form ----------------------------------*/
input[type="text"],
textarea {
    padding: 15px;
    margin-bottom: 3%;
    width: 94%;
    border-radius: 5px;
    border: 2px solid rgba(159, 160, 184, 0.4);
}

#email,
#subject {
    width: 94%;
}

#name {
    width: 45%;
}

#submit {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    background-color: #F24C27;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

#submit:hover {
    background-color: orangered;
}


.input-container {
    display: flex
}

.input-container p {
    margin: 0 0 3% 5%;
    width: 45%;
    padding: 15px 0 0 20px;
    border-radius: 5px;
}

/*------------------------------FOOTER---------------------------*/
.footer {
    display: flex;
    padding-top: 20%;
    padding-bottom: 5%;
    position: relative;
}

.footer_left {
    width: 30%;
}

.container_footer_left {
    margin-left: 40%;
}

.container_footer_left #footer_left_txt {
    padding-top: 60%;
    color: #5B5B5B;
}

.footer_right {
    width: 70%;
}

.footer_container_col {
    display: flex;
    padding-left: 15%;
}

.footer_container_col li {
    padding-bottom: 8%;
}

.footer_container_col li a {
    text-decoration: none;
    color: black;
}


.footer_list {
    list-style: none;
    padding-left: 0;
    padding-top: 10%;
}


.col1,
.col2,
.col3 {
    width: 20%;
}


.footer_last {
    background-color: #232ED1;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*INSERT*/
.insert_footer {
    display: flex;
    position: absolute;
    top: -15%;
    left: 0;
    background-color: #232ED1;
    width: 70%;
    height: 30%;
    border-radius: 10px;
    margin-left: 15%;
}

.insert_footer h1 {
    font-size: 48px;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}

.insert_footer a {
    position: absolute;
    top: 33%;
    right: 10%;
    color: #FFFFFF;
    background: #F24C27;
    border-radius: 5px;
    text-decoration: none;
    padding: 2% 7%;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 7%;
    width: 50%;
    margin-left: 15%;
}

.input-wrapper input {
    padding: 5% 5% 5% 2%;
    /* Để tạo khoảng trống cho nút bấm */
    border: none;
    border-radius: 5px;
}

.input-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    background: #F24C27;
    color: white;
    border: none;
}


/* Mobile: width <740px */
@media screen and (max-width: 575.98px) {
    .nav {
        flex-direction: column;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 0;
    }


    .main_nav li {
        padding-bottom: 20px;
    }
    .nav #clone {
        display: none;
    }

    /*FOOTER*/
    .footer_left {
        display: none;
    }

    .footer_right {
        width: 100%;
    }

    .col1,
    .col2,
    .col3 {
        width: 33%;
        padding-left: 3%;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left {
        margin-left: 5%;
    }

    /*INSERT*/
    .insert_footer {
        height: 80%;
    }

    .insert_footer h1 {
        font-size: 20px;
        margin-top: 10%;
    }
    /*CONTENT*/

    .content {
        flex-direction: column;
    }

    .content_left {
        width: 100%;
        text-align: center;
    }

    .content_left #content_left_text1, #content_left_text2 {
        margin-left: 0;
    }

    .content_left img {
        margin-top: 0;
        margin-left: 0;
    }

    .content_right {
        width: 100%;
    }

    .container_right {
        margin-left: 18%;
    }

}

@media screen and (max-width: 630px) {
    .insert_footer {
        display: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 15%;
    }

    .nav #clone {
        display: none;
    }

    .main_nav li {
        margin-bottom: 20px;
    }

    .nav #txt_nav {
        margin-left: 15%;
    }

    /*FOOTER*/
    .footer_left {
        width: 30%;
    }

    .footer_right {
        width: 70%;
    }

    .container_footer_left {
        margin-left: 10%;
    }

    .col1,
    .col2,
    .col3 {
        width: 35%;
        padding-left: 2%;
    }


    .container_footer_left #footer_left_txt {
        width: 90%;
        padding: 10px;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 28px;
        margin-top: 3%;
    }

    .insert_footer a {
        top: 33%;
        right: 5%;
        color: #FFFFFF;
        background: #F24C27;
        border-radius: 5px;
        text-decoration: none;
        padding: 2% 5%;
        font-size: 14px;
    }

    /*CONTENT*/

    .content {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .content_left {
        width: 100%;
        text-align: center;
    }

    .content_left #content_left_text1, #content_left_text2 {
        margin-left: 0;
    }

    .content_left img {
        margin-top: 0;
        margin-left: 0;
    }

    .content_right {
        width: 100%;
    }

    .container_right {
        margin-left: 18%;
    }
}

@media screen and (max-width: 1270px) and (min-width: 992px) {
    .nav #clone {
        display: none;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left #footer_left_txt {
        padding-top: 10%;
    }
    

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 32px;
        margin-top: 5%;
    }


}