body{
    font-family: Arial, Helvetica, sans-serif;  
    margin: 0;
}
.main {
    width: 100%;
    height: 1080px;
}
.contain_Nav-conten1{
    background-image: linear-gradient(180deg, #F4F5FC 0%, #E6E7FF 100%);
}

/* Navi Bar */
/* -----------------------------------------------*/
.nav {
    width: auto;
    height: 200px;
} 
nav a{
    padding: 15px 20px 15px 20px;
}
.nav a:hover{
    background-color: #232ED1;
    color: #FFFFFF;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
}
.nav_pc {
    display: flex;
}
.nav_list {
    list-style: none;
    display: flex;
    padding-top: 20px;
}

.nav_link {
    margin-right: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #5B5B5B;
}

#finsweet {
    position: relative;
    margin-left: 200px;
    margin-top: 34px;
    padding-right: 30px;
    font-size: 20px;
}
#clone {
    border: 1px solid #232ED1;
    border-radius: 5px;
    padding: 20px 30px 15px 30px;
    margin-left: 350px; 
    margin-top: 20px;
    cursor: pointer;
}

/* Content1 */
/* -----------------------------------------------*/
.content1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}
.content_left {
    flex: 1;
}
.content_left #content_title{
    font-size: 50px;
    padding-left: 200px;
}
.content1 #content_text{
    padding-left: 200px;
    color: #5B5B5B;
    padding-bottom: 50px;
}
.btn_content {
    margin-left: 200px;
}
.btn1_content1{
    padding: 20px 30px 20px 30px;
    background-color: #232ED1;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}
.btn2_content1{
    padding: 20px 30px 20px 30px;
    color: #5B5B5B;
    text-decoration: none;
}
.btn2_content1:hover{
    color: #232ED1;
}
.content_right {
    flex: 1;
}
.content_right img{
    position: absolute;
    width: 722px;
    height: 459px;
    margin-top: 50px;
    border-radius: 0px 24px 24px 24px;
    z-index: 1;
}
.content_right #icons_1{
    position: absolute;
    left: 1483px;
    top: 495px;
    width: 243px;
    height: 269px;
    z-index: 0;
}
.content_right #icons_2{
    margin-top: 538px;
    margin-left: 500px;
}

/* Content2.1 --------------------------------*/
.content2 {
    height: 900px;
    background-color: #E5E5E5;;
}
.content2-1{
    height: 200px;
    border: 1px solid black;
}

/* Content2.2 --------------------------------*/

.content2-2 {
    display: flex;
}
.content2-2_left {
    width: 50%;
}
.content2-2_right {
    width: 50%;
}

.container_text {
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
}

.container_text #content2-2_text1{
    color: #232ED1;
    font-size: 18px;
}
.container_text #content2-2_text2{
    color: #0D1317;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    margin-top: -5px;
}
.container_text #content2-2_text3{
    color: #5B5B5B;
    font-size: 18px;
    margin-top: -30px;
}

.content2-2_right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.point1, .point2, .point3, .point4 {
    width: 260px;
    height: 260px;
    border-radius: 12px;
    margin-left: 20px;
}
.point1 {
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
    color: #232ED1;
    font-size: 24px;
    line-height: 36px;
}
.point2 {
    background: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
    color: #232ED1;
    font-size: 24px;
    line-height: 36px;
}
.point3 {
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(255, 217, 208, 0.2) 0%, rgba(242, 76, 39, 0.2) 100%);
    color: #F24C27;
    font-size: 24px;
    line-height: 36px;
}
.point4 {
    background: linear-gradient(180deg, rgba(255, 217, 208, 0.2) 0%, rgba(242, 76, 39, 0.2) 100%);
    border-radius: 12px;
    color: #F24C27;
    font-size: 24px;
    line-height: 36px;
}
#point_text {
    margin-left: 40px;
    margin-top: 50px;
}
.content2-2_right svg{
    margin-left: 40px;
    margin-top: 40px;
}


/* Content3 --------------------------------*/
.content3 img{
    width: 100%;
    height: 800px;
}
.insert {
    width: 1360px;
    height: 303px;
    background: #232ED1;
    position: relative;
    top: -180px;
    float: right;
    color: #FFFFFF;
    display: flex;
    border-top-left-radius: 10px;
}
.insert_left {
    width: 30%;
    font-size: 48px;
    line-height: 56px;
    padding-top: 50px;
    padding-left: 100px;
}
.insert_right {
    width: 70%;
    font-size: 18px;
    padding-top: 100px;
}
/* Content3-1 --------------------------------*/
.content3-1 {
    border: 1px solid red;
    display: flex;
    width: 100%;
}
.content3-1_left {
    width: 55%;
}
.content3-1_left #img2_home{
    width: 700px;
    height: 500px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    padding-left: 295px;
}
.content3-1_right {
    width: 45%;
    font-size: 18px; 
    padding-top: 70px;   
}
.content3-1_right svg{
    position: relative;
    top: 5px;
}
.content3-1_right #content3-1_text1{
    color: #232ED1;
}
.content3-1_right #content3-1_text2{
    color: #0D1317;
    font-size: 48px;
}
.content3-1_right #content3-1_text3{
    color: #5B5B5B;
}
.content3-1_right #content3-1_text4{
    color: #1A1A1A;
}

/* Content3-2 --------------------------------*/
.content3-2 {
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.content3-2_left {
    width: 50%;
    padding-top: 70px;
    font-size: 18px;
}
.content3-2_right {
    width: 50%;
}
.content3-2_left svg {
    position: relative;
    top: 5px
}
.content3-2_right img {
    width: 700px;
    height: 500px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
}
.content3-2_left #content3-2_text1{
    color: #232ED1;
}
.content3-2_left #content3-2_text2{
    font-size: 48px;
    color: #0D1317;
}
.content3-2_left #content3-2_text3{
    color: #5B5B5B;
}
.container_content3-2_left{
    padding-left: 400px;
}
/* Content3-3 --------------------------------*/
.content3-3 {
    border: 1px solid red;
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.content3-3_left {
    width: 55%;
}
.content3-3_left img{
    width: 700px;
    height: 500px;
    border-radius: 30px;
    padding-left: 295px;
}
.content3-3_right {
    width: 50%;
    padding-top: 70px;
    font-size: 18px;   
}
.content3-3_right svg{
    position: relative;
    top: 5px;
}
.content3-3_right #content3-3_text1{
    color: #232ED1;
}
.content3-3_right #content3-3_text2{
    color: #0D1317;
    font-size: 48px;
}
.content3-3_right #content3-3_text3{
    color: #5B5B5B;
}
.content3-3_right #content3-3_text4{
    color: #1A1A1A;
}
.container_content3-3_right{
    padding-left: 100px;
}
/* Content4 --------------------------------*/
.content4 {
    display: flex;
    width: 100%;
    height: 400px;
    border: 1px solid red;
}
.content4_left, .content4_mid, .content4_right {
    width: 25%;
    border: 1px solid blue;
    margin-top: 160px;
}
.content4 #content4_title {
    font-size: 48px;
    color: #0D1317;
    height: 50px;
    width: 800px;
}
