body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    width: 100%;
    height: auto;
}

.content_nav_content1 {
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}

/* Navi Bar */
/* -----------------------------------------------*/
.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav #txt_nav {
    margin-left: 5%;
    font-weight: bold;
    font-size: 32px;
}

.main_nav {
    display: flex;
    list-style: none;
    margin-left: 3%;
    padding: 15px;
}


.main_nav a {
    text-decoration: none;
    color: black;
}

.main_nav li a {
    display: block;
    padding: 8px 25px;
}

.main_nav li:hover a {
    background-color: #232ED1;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav #clone {
    border: 2px solid rgba(35, 46, 209, 0.4);
    background-color: none;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    right: 20%;
}

.nav #clone:hover {
    background-color: #e74c3c;
    color: #FFFFFF;
}

/*CONTENT1 -----------------------*/
.content1 {
    padding-bottom: 22%;
}

.container1 {
    text-align: center;
}

.container1 #content1_text1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 0;
}

.container1 #content1_text2 {
    font-size: 18px;
    color: #5B5B5B;
}

/*CONTENT2 -----------------------*/
.insert {
    display: flex;
    position: relative;
    margin-top: -13%;
    margin-left: 25%;
}

.insert_left,
.insert_mid,
.insert_right {
    border: 1px solid black;
    border-radius: 5px;
    border: none;
    margin-left: 2%;
    padding: 3% 2% 10% 2%;
    position: relative;
}

.insert_left {
    background: linear-gradient(180deg, #FFFFFF 52.08%, #ECEDFF 100%);
}

.insert_mid {
    background: linear-gradient(180deg, #FFFFFF 52.6%, #FFE8E2 100%);
}

.insert_right {
    background: linear-gradient(180deg, #FFFFFF 52.08%, #ECEDFF 100%);
}

.left_link {
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 10% 20%;
    border-radius: 7px;
    border: 1px solid #232ED1;
}

.left_link #link_1 {
    text-decoration: none;
    color: black;
}

.mid_link {
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 10% 20%;
    border-radius: 7px;
    border: 1px solid #F24C27;
    background: #F24C27;
}

.mid_link #link_2 {
    text-decoration: none;
    color: white;
}

.right_link {
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 10% 20%;
    border-radius: 7px;
    border: 1px solid #232ED1;
}

.right_link #link_3 {
    text-decoration: none;
    color: black;
}




/*CONTENT1 -----------------------*/
@media screen and (max-width: 575.98px) {
    .nav {
        flex-direction: column;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 0;
    }

    .nav #clone {
        text-align: center;
    }

    .main_nav li {
        padding-bottom: 20px;
    }

    /*INSERT*/
    .insert {
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
    }

    .insert_left, .insert_mid, .insert_right {
        width: 60%;
        margin-left: 20%;
        border: 1px solid black;
        padding-bottom: 25%;
    }

    .right_link, .mid_link, .left_link {
        margin-left: 7%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 15%;
    }

    .nav #clone {
        text-align: center;
        margin-left: 15%;
    }

    .main_nav li {
        margin-bottom: 20px;
    }

    .nav #txt_nav {
        margin-left: 15%;
    }

    /*INSERT*/
    /*INSERT*/
    .insert {
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
    }

    .insert_left, .insert_mid, .insert_right {
        width: 60%;
        margin-left: 20%;
        border: 1px solid black;
        padding-bottom: 25%;
    }

    .right_link, .mid_link, .left_link {
        margin-left: 7%;
    }

    .insert_content_left, .insert_content_mid, .insert_content_right{
        margin-left: 15%;
    }
}

@media screen and (max-width: 1270px) {
    .nav #clone {
        display: none;
    }
}