body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav #txt_nav {
    margin-left: 5%;
    font-weight: bold;
    font-size: 32px;
}

.main_nav {
    display: flex;
    list-style: none;
    margin-left: 3%;
    padding: 15px;
}


.main_nav a {
    text-decoration: none;
}

.main_nav li a {
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

.main_nav li:hover a {
    background-color: #232ED1;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav #clone {
    border: 2px solid rgba(35, 46, 209, 0.4);
    background-color: none;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    right: 20%;
    color: black;
}

.nav #clone:hover {
    background-color: #e74c3c;
    color: #FFFFFF;
}

/*CONTENT1 -------------------------------------*/
.container_nav_conten1 {
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}
.content1 {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content1_left {
    width: 55%;
}

.content1_left #content_left_text1 {
    font-size: 64px;
    color: #0D1317;
}

.content1_left #content_left_text2 {
    font-size: 18px;
    color: #5B5B5B;
}

.container_left {
    width: 70%;
    margin: 5% 0 0 20%;
}

.content1_right {
    width: 35%;
    position: relative;
}
.content1_right img {
    width: 100%;
}

/* CONTENT1_RIGHT1 */


/*CONTENT2 */
.content2 {
    width: 100%;
}

.content2-1 {
    width: 90%;
    font-size: 48px;
    padding-left: 9%;
}

.content2-2 {
    display: flex;
    width: 100%;
}

.content2-2_left {
    width: 25%;
    padding-left: 8%;
}

.content2-2_left #content2_left_text1 {
    font-size: 24px;
    color: #000000;
}

.content2-2_left #content2_left_text2 {
    font-size: 18px;
    color: #5B5B5B;
}


.content2-2_mid {
    width: 28%;
}

.content2-2_mid #content2_mid_text1 {
    font-size: 24px;
    color: #000000;
}

.content2-2_mid #content2_mid_text2 {
    font-size: 18px;
    color: #5B5B5B;
}

.content2-2_right {
    width: 28%;
}

.content2-2_right #content2_right_text1 {
    font-size: 24px;
    color: #000000;
}

.content2-2_right #content2_right_text2 {
    font-size: 18px;
    color: #5B5B5B;
}

/* CONTENT3 ------------------------------*/
.content3 {
    display: flex;
    width: 100%;
}

.content3_left {
    width: 45%;
}

.content3_left img {
    width: 80%;
    margin-left: 17%;
}

.content3_right {
    width: 55%;
}

.container3_text {
    padding-top: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 7%;
}

.container3_text #content3_text1 {
    font-size: 18px;
    color: #232ED1;
}

.container3_text #content3_text2 {
    font-size: 48px;
    color: #0D1317;
}

.container3__text #content3_text3 {
    font-size: 18px;
    color: #5B5B5B;
}

/* CONTENT4 ------------------------------*/
.content4 {
    display: flex;
    width: 100%;
}

.content4_left {
    width: 40%;
}

.content4_right {
    width: 60%;
}

.container4_text {
    width: 80%;
    padding-left: 20%;
    margin-top: 15%;
}

.container4_text #content4_text1 {
    font-size: 18px;
    color: #232ED1;
}

.container4_text #content4_text2 {
    font-size: 48px;
    color: #0D1317;
    font-weight: bold;
}

.container4_text #content4_text3 {
    font-size: 18px;
    color: #5B5B5B;
}

.container4_text ul {
    margin-left: -2%;
}

.content4_right img {
    width: 65%;
    margin-top: 10%;
}

/* CONTENT5 ------------------------------*/
.content5 {
    display: flex;
    width: 100%;
    padding-top: 7%;
}

.content5_left {
    width: 45%;
}

.content5_right {
    width: 55%;
}

.container5_text {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
}

.container5_text #content5_text1 {
    font-size: 18px;
    color: #232ED1;
}

.container5_text #content5_text2 {
    font-size: 48px;
    color: #0D1317;
    font-weight: bold;
}

.container5_text #content5_text3 {
    font-size: 18px;
    color: #5B5B5B;
}

.container5_text span {
    color: #1A1A1A;
    font-weight: bold;
}

.container5_text svg {
    position: relative;
    top: 7px;
}

.content5_left img {
    width: 80%;
    margin-left: 20%;
}

/* CONTENT6 ------------------------------*/
.content6 {
    display: flex;
    width: 100%;
    padding-top: 7%;
}

.content6_left {
    width: 40%;
}

.content6_right {
    width: 60%;
}

.container6_text {
    width: 60%;
    margin-left: 30%;
    margin-top: 15%;
}

.container6_text #content6_text1 {
    font-size: 18px;
    color: #232ED1;
}

.container6_text #content6_text2 {
    font-size: 48px;
    color: #0D1317;
}

.container6_text #content6_text3 {
    font-size: 18px;
    color: #5B5B5B;
}

.container6_text span {
    color: #1A1A1A;
    font-weight: bold;
}

.container6_text svg {
    position: relative;
    top: 7px;
}

.content6_right img {
    width: 60%;
}

/* CONTENT7 ------------------------------*/
.content7 {
    display: flex;
    width: 100%;
    padding-top: 7%;
}

.content7_left {
    width: 45%;
}

.content7_right {
    width: 55%;
}

.container7_text {
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}

.container7_text #content7_text1 {
    font-size: 18px;
    color: #232ED1;
}

.container7_text #content7_text2 {
    font-size: 48px;
    color: #0D1317;
}

.container7_text #content7_text3 {
    font-size: 18px;
    color: #5B5B5B;
}

.container7_text span {
    color: #1A1A1A;
    font-weight: bold;
}

.content7_left img{
    width: 80%;
    margin-left: 20%;
}

/* CONTENT8 ------------------------------*/

.content8 img{
    margin-left: 7.5%;
    margin-top: 5%;
    width: 70%;
    padding-bottom: 10%;
}

/*------------------------------FOOTER---------------------------*/
.footer {
    display: flex;
    padding-top: 20%;
    padding-bottom: 5%;
    position: relative;
}

.footer_left {
    width: 30%;
}

.container_footer_left {
    margin-left: 40%;
}

.container_footer_left #footer_left_txt {
    padding-top: 60%;
    color: #5B5B5B;
}

.footer_right {
    width: 70%;
}

.footer_container_col {
    display: flex;
    padding-left: 15%;
}

.footer_container_col li {
    padding-bottom: 8%;
}

.footer_container_col li a {
    text-decoration: none;
    color: black;
}


.footer_list {
    list-style: none;
    padding-left: 0;
    padding-top: 10%;
}


.col1,
.col2,
.col3 {
    width: 20%;
}


.footer_last {
    background-color: #232ED1;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*INSERT*/
.insert_footer {
    display: flex;
    position: absolute;
    top: -15%;
    left: 0;
    background-color: #232ED1;
    width: 70%;
    height: 30%;
    border-radius: 10px;
    margin-left: 15%;
}

.insert_footer h1 {
    font-size: 48px;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}

.insert_footer a {
    position: absolute;
    top: 33%;
    right: 10%;
    color: #FFFFFF;
    background: #F24C27;
    border-radius: 5px;
    text-decoration: none;
    padding: 2% 7%;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 7%;
    width: 50%;
    margin-left: 15%;
}

.input-wrapper input {
    padding: 5% 5% 5% 2%;
    /* Để tạo khoảng trống cho nút bấm */
    border: none;
    border-radius: 5px;
}

.input-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    background: #F24C27;
    color: white;
    border: none;
}
@media screen and (max-width: 575.98px) {
    .nav {
        flex-direction: column;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 0;
    }


    .main_nav li {
        padding-bottom: 20px;
    }
    .nav #clone {
        display: none;
    }

    /*FOOTER*/
    .footer_left {
        display: none;
    }

    .footer_right {
        width: 100%;
    }

    .col1,
    .col2,
    .col3 {
        width: 33%;
        padding-left: 3%;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left {
        margin-left: 5%;
    }

    /*INSERT*/
    .insert_footer {
        height: 80%;
    }

    .insert_footer h1 {
        font-size: 20px;
        margin-top: 10%;
    }
    /*CONTENT*/

    .container_img1_icon1 {
        position: absolute;
        bottom: 0;
        width: 15%;
        height: 50%;
    }
    .content1 {
        flex-direction: column;
    }
    .content1_left {
        width: 100%;
    }
    .container_left #content_left_text1 {
        font-size: 48px;
    }
    .container_left {
        width: 80%;
        margin-left: 5%;
    }
    .content1_right {
        display: none;
    }
    .content2-1 #content2-1_text {
        font-size: 32px;
    }
    .content2-2_left img {
        width: 100%;
    }
    .content2-2_mid img {
        width: 92%;
    }
    .content2-2_right img {
        width: 94%;
    }
    .content2-2_left #content2_left_text1 {
        font-size: 20px;
    }
    .content2-2_left #content2_left_text2 {
        font-size: 14px;
    }

    .content2-2_mid #content2_mid_text1 {
        font-size: 20px;
    }
    .content2-2_mid #content2_mid_text2 {
        font-size: 14px;
    }

    .content2-2_right #content2_right_text1 {
        font-size: 20px;
    }
    .content2-2_right #content2_right_text2 {
        font-size: 14px;
    }

    .content3 {
        flex-direction: column;
    }
    .content3_left {
        width: 90%;
        margin-left: 2%;
    }

    .content3_right {
        width: 100%;
    }

    .content4 {
        flex-direction: column-reverse;
    }
    .content4_left {
        width: 100%;
    }
    .container4_text {
        padding-left: 5%;
    }
    .content4_right {
        width: 90%;
    }

    .content4_right img{
        width: 80%;
        margin-left: 15%;
    }


    .content5 {
        flex-direction: column;
    }
    .content5_left {
        width: 90%;
        margin-left: 2%;
    }

    .content5_right {
        width: 100%;
    }
    .content5_left img {
        margin-left: 15%;
    }

    .content6 {
        flex-direction: column-reverse;
    }
    .content6_left {
        width: 100%;
    }
    .container6_text {
        margin-left: 5%;
        width: 80%;
    }
    .content6_right {
        width: 90%;
    }

    .content6_right img{
        width: 80%;
        margin-left: 15%;
    }

    .content7 {
        flex-direction: column;
    }
    .content7_left {
        width: 90%;
        margin-left: 2%;
    }

    .content7_right {
        width: 100%;
    }

    .content7_left img {
        margin-left: 15%;
    }
}

@media screen and (max-width: 630px) {
    .insert_footer {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .main_nav {
        flex-direction: column;
        margin-left: 15%;
    }

    .nav #clone {
        display: none;
    }

    .main_nav li {
        margin-bottom: 20px;
    }

    .nav #txt_nav {
        margin-left: 15%;
    }

    /*FOOTER*/
    .footer_left {
        width: 30%;
    }

    .footer_right {
        width: 70%;
    }

    .container_footer_left {
        margin-left: 10%;
    }

    .col1,
    .col2,
    .col3 {
        width: 35%;
        padding-left: 2%;
    }


    .container_footer_left #footer_left_txt {
        width: 90%;
        padding: 10px;
    }

    .footer_container_col {
        padding-left: 0;
    }

    .input-wrapper {
        display: none;
    }

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 28px;
        margin-top: 3%;
    }

    .insert_footer a {
        top: 33%;
        right: 5%;
        color: #FFFFFF;
        background: #F24C27;
        border-radius: 5px;
        text-decoration: none;
        padding: 2% 5%;
        font-size: 14px;
    }

    /*CONTENT*/

    .content {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .content_left {
        width: 100%;
        text-align: center;
    }

    .content_left #content_left_text1, #content_left_text2 {
        margin-left: 0;
    }

    .content_left img {
        margin-top: 0;
        margin-left: 0;
    }

    .content_right {
        width: 100%;
    }

    .container_right {
        margin-left: 18%;
    }

    .container_left {
        width: 85%;
        margin-left: 5%;
    }

    .container_left #content_left_text1 {
        font-size: 32px;
    }
    .content1_right  { 
       width: 45%;
    }

    .content2-1 #content2-1_text {
        font-size: 32px;
    }
    .content2-2_left {
        margin-right: 5%;
    }

    .content2-2_mid {
        margin-right: 5%;
    }

    .content2-2_left #content2_left_text1 {
        font-size: 20px;
    }
    .content2-2_left #content2_left_text2 {
        font-size: 14px;
    }

    .content2-2_mid #content2_mid_text1 {
        font-size: 20px;
    }

    .content2-2_mid #content2_mid_text2 {
        font-size: 14px;
    }

    .content2-2_right #content2_right_text1 {
        font-size: 20px;
    }

    .content2-2_right #content2_right_text2 {
        font-size: 14px;
    }

    .content2 {
        padding-bottom: 5%;
    }

    .container3_text #content3_text2 {
        font-size: 32px;
    }

    .content4_right img {
        margin-left: 40%;
        width: 95%;
    }
    .container4_text #content4_text2 {
        font-size: 32px;
    }
    .content4_right {
        width: 40%;
    }

    .container4_text {
        width: 100%;
        margin-left: 10%;
        line-height: 30px;
        margin-top: 2%;
    }

    .container5_text #content5_text2 {
        font-size: 32px;

    }
    .container5_text {
        margin-top: 2%;
    }
    .content6_right img {
        margin-left: 0%;
        margin-top: 20%;
        width: 100%;
    }

    .content6_right {
        width: 40%;
    }

    .content6_left {
        width: 55%;
    }
    .container6_text #content6_text2 {
        font-size: 32px;
    }

    .container7_text #content7_text2 {
        font-size: 32px;
    }
    .container7_text {
        margin-top: 2%;
        margin-left: 5%;
        width: 100%;
    }
}

@media screen and (max-width: 1270px) and (min-width: 992px) {
    .nav #clone {
        display: none;
    }

    .input-wrapper {
        display: none;
    }

    .container_footer_left #footer_left_txt {
        padding-top: 10%;
    }
    

    /*INSERT FOOTER*/
    .insert_footer h1 {
        font-size: 32px;
        margin-top: 5%;
    }


}